{% extends "./layout.njk" %} 


{% block cronaca %}
{% include "./components/cronaca-article.njk" %}
{% endblock %}

{% block politica %}
{% include "./components/politica-article.njk" %}
{% endblock %}

{% block sport %}
{% include "./components/sport-article.njk" %}
{% endblock %}