<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/style-two.css" />
    <title>Nesw Page</title>
  </head>
  <body data-theme="blue">
    {% include "./partials/header.njk" %}
    <main class="main">
      {% block cronaca %}

      {% endblock %}

      {% block politica %}

      {% endblock %}

      {% block sport %}

      {% endblock %}

     
    </main>
    {% include "./partials/footer.njk" %}
  </body>
</html>
